<a href="https://colab.research.google.com/github/ttaho/kb_it-s-your-life/blob/main/in_class/KB_Python_PART2_LAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.조건문

### 1-01 단순 조건 분기
        if <condition>:
        <탭> statement
        else:
        <탭> statement

- 들여쓰기(indent)
  - if 조건문을 만들 때 if 조건문 바로 아래 문장부터 if에 속하는 모든 문장에 대해 들여쓰기를 적용해야 함
  - 들여쓰기는 항상 같은 깊이     
  - 들여쓰기는 탭이나 스페이스 어느 것으로 해도 상관없으나 혼용해서 사용하면 에러 발생

In [11]:
#문자열을 입력ㅂ다아 gender라는 이름을 부여하고
#만약에 gender가 MALE과 같으면 남성입니다.를 출력하고
#아니면 여성입니다.를 출력한다.

gender = input('성별을 입력하세요. MALE or FEMALE: ')

if gender == 'MALE':
  print("남성입니다.")
else :
  print("여성입니다.")

성별을 입력하세요. MALE or FEMALE: MALE
남성입니다.

In [10]:
#conditional expression  1줄 작성, expression = object, 함수의 argument, return 사용
gender = 'FEMALE'
print(f"{'남' if gender == 'MALE' else '여'}성입니다.")

여성입니다.

In [16]:
#dict를 사용해서 if ~ elif ~ elif ~ else 구조대신 dict 를 사용하는 것이 좋음
gender = {'MALE': '남성', 'FEMALE': '여성'}
x=input('성별을 입력하세요. MALE or FEMALE: ')
r=gender.get(x, '잘못된입력')
print(f'{r}입니다')

성별을 입력하세요. MALE or FEMALE: MALE
남성입니다

### 1-02 if문 연습문제 1 (비만도구하기)
(몸무게 + 100 – 키)를 비만 수치 공식이라고 할 때 키와 몸무게를 입력 받아 첫 번째
줄에 비만 수치를 출력하고, 비만 수치가 0보다 크면 비만이라는 메시지를
출력하세요.

- 사용) info = [155, 60]
- 출력) 
        비만 수치는 5 입니다.
        당신은 비만입니다.

In [17]:
info = [155, 60]
# code here
h,w=info
bmi=w+100-h
print("비만 수치는 {} 입니다." .format(bmi))
if bmi>0 :
  print("당신은 비만입니다.")

비만 수치는 5 입니다.
당신은 비만입니다.

### 1-03 다양한 조건에 따라 분기

        if <condition>:
        <탭> statement
        elif <condition>:
        <탭> statement        
        else:
        <탭> statement

In [20]:
gender = input("성별을 입력하세요. MALE or FEMALE: ")

# 성별을 입력받아 'MALE'이면 '남성입니다', 'FEMALE'이면 '여성입니다', 
# 둘 다 아니면 '잘못된 입력값입니다'를 출력하는 프로그램을 작성한다
# code here
if gender == 'MALE':
  print('남성입니다.')
elif gender == 'FEMALE':
  print('여성입니다.')
else:
  print('잘못된 입력값입니다.')

성별을 입력하세요. MALE or FEMALE: ASD
잘못된 입력값입니다.

In [ ]:
gender = input("성별을 입력하세요. MALE or FEMALE: ")
print("남성입니다" if gender == "MALE" else "여성입니다" if gender =="FEMALE" else "잘못된 입력값입니다")

In [21]:
gender = input("성별을 입력하세요. MALE or FEMALE: ")
r='남성' if gender == 'MALE' else \
'여성' if gender =='FEMALE' else \
'잘못된 입력값'
print(f'{r}입니다.')

성별을 입력하세요. MALE or FEMALE: MALE
남성입니다.

In [22]:
# 참고로 보세요! - dict 사용
data = input("성별을 입력하세요. MALE or FEMALE: ")
gender = {'MALE': '남성', 'FEMALE' : '여성'}
print(gender.get(data, '잘못된 입력값') + '입니다.')

성별을 입력하세요. MALE or FEMALE: MALE
남성입니다.

### 1-04 3항 연산자

        <True-value> if <condition> else <False-value>

In [ ]:
a = 10 if 3 > 2 else 20
a

In [ ]:
# gender가 'MALE'이면 '남성' 아니면 '여성'
r = # code here

print(f'{r}입니다')

### 1-05 if문 연습문제 2(학점출력)
- 성적을 입력 받아 90점 이상이면 A, 80점 이상이면 B, 70점 이상이면 C, 70점 미만이면 D를 출력하세요.
        입력) 94
        출력) 'A'
        입력) 77
        출력) 'C'

In [ ]:
score = int(input('성적입력 > '))

#code here

In [ ]:
#점수를 0 ~ 100으로만 제한하면 다음과 같이 풀이 가능함
grade = "DDDDDDDCBAA"
score = int(input('성적입력 > '))
print(grade[score//10])

성적입력 > 0
D

## 2.반복문

### 2-01 while 반복문
- 특정 조건을 만족하는 동안 실행되는 반복문
        while <condition>:
        <탭> statement
        <탭> statement

In [ ]:
# 'MALE', 'FEMALE'이 아닌 것이 입력되는 동안 계속 반복해 입력을 받고,
# gender 입력에 대해 '남성입니다', '여성입니다', '잘못된 입력값입니다'를 출력하는 프로그램 작성
# 'MALE' 또는 'FEMALE'이 입력되면 종료한다

gender=''
while gender != 'MALE' and gender != 'FEMALE':
    gender=input("성별을 입력하세요.MALE or FEMALE: ")

    if gender=='MALE':
        print("남성입니다")
    elif gender == "FEMALE":
        print("여성입니다")
    else:
        print("잘못된 입력값입니다")
print("종료")

성별을 입력하세요.MALE or FEMALE: boy
잘못된 입력값입니다
성별을 입력하세요.MALE or FEMALE: MALE
남성입니다
종료

In [ ]:
while True:
    gender=input("성별을 입력하세요.MALE or FEMALE: ")
    if gender=='MALE':
        print("남성입니다")
    elif gender == "FEMALE":
        print("여성입니다")
    else:
        print("잘못된 입력값입니다")
    if gender == 'MALE' or gender == 'FEMALE' : break
    
print("종료")

### 2-02 while문 연습문제

In [ ]:
# (1~100의 짝수의 합)
num = # 초기값
tot = 0
# code here

2500

In [ ]:
# 별(*)출력하기
# *
# **
# ***
# ****
# *****

i = 0
# code here

### 2-03 for 반복문의 기본구조

        for <variable> in <iterable> :
        <탭> statements

- iterable : list, tuple, str, set, dict ... + iterator, generator

In [ ]:
colors = ['red', 'green', 'blue']
for c in colors:
    print(c)

red
green
blue

### 2-04 for문 연습문제 1(합격, 불합격)
- 총 5명 학생의 성적이 다음과 같을 때 시험 점수가 60점 이상이면 "합격입니다."를 그렇지 않으면 "불합격입니다."를 출력하세요.
- 사용) result = [90, 35, 68, 44, 81]

In [ ]:
result = [90, 35, 68, 44, 81]

# code here

In [ ]:
# 추가코드 - for, if statement 없이 풀기 
result = [90, 35, 68, 44, 81]

r = '\n'.join(f"{n}번 학생은 {'합격' if r >= 60 else '불합격'}입니다"
          for n, r in enumerate(result, start=1))
print(r)

### 2-05 range를 이용한 for문
- range() 함수를 사용하여 일련의 숫자 범위 생성
- 사용방법 : 
   - range(stop)
   - range(start, stop)
   - range(start, stop, step)
   - step의 기본값은 1

In [ ]:
for i in range(0, 10):
    print(i)

In [ ]:
r = range(10)
print(list(r))

In [ ]:
r = range(0,20)
print(list(r))

In [ ]:
r = range(0,20,2)
print(list(r))

### 2-06 for문 연습문제 2(1~100의 합)

In [ ]:
# for문과 range() 함수를 이용하여 1부터 100까지의 합을 구해 출력하는 프로그램 작성
# code here


#print(sum(range(1, 101)))

### 2-07 for 반복문의 중첩

        for <variable> in <iterable(list, tuple, str, ...)>:
        <탭> for <variable> in <iterable(list, tuple, str, ...)> :
             <탭> statement

In [ ]:
# 2차원 test2D의 값을 for 반복문의 중첩을 이용하여 출력하세요

test2D = [[1,2,3],[4,5,6],[7,8,9,10]]

1 2 3 4 5 6 7 8 9 10

### 2-08 for문 연습문제 3(2~9단 출력)

In [ ]:
# 2단부터 9단까지의 구구단을 출력하는 프로그램을 구현해 보자
# 출력은 print(f'{dan*no:2d}', end=' ') 을 사용한다
# code here

 2  4  6  8 10 12 14 16 18
 3  6  9 12 15 18 21 24 27
 4  8 12 16 20 24 28 32 36
 5 10 15 20 25 30 35 40 45
 6 12 18 24 30 36 42 48 54
 7 14 21 28 35 42 49 56 63
 8 16 24 32 40 48 56 64 72
 9 18 27 36 45 54 63 72 81

### 2-09 break, continue, pass
- break : 현재 속한 반복문 종료
- continue : 현재 반복에 대해 루프 내부의 나머지 코드를 건너뛰는데 사용
- pass : 아무 작업도 수행하지 않음, 임시 함수, 무한 반복문 작성시 사용

In [ ]:
for i in range(10):
    if i == 2:
        continue
    if i == 5:
        break
    print(i)

In [ ]:
def myfunc():
    pass

# 무한 반복
while True:
    pass

## 3.comprehensions
- 특정 자료구조의 각 원소에 대해 식을 적용한 결과를 새로운 list, set, dict로 생성
- List Comprehension
  - ``` [<expression> for <target_list> in <iterable> if <condition>]```
- Set Comprehension
  - ``` {<expression> for <target_list> in <iterable> if <condition>}```
- Dict Comprehension
  - ``` { K:V for <target_list> in <iterable> if <condition>}  ```

In [ ]:
s = [x**2 for x in range(10)]
s

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
v = [2**x for x in range(13)]
v

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

In [ ]:
m = [x for x in s if x%2 == 0]
m

[0, 4, 16, 36, 64]

In [ ]:
s = {x**2 for x in range(10)}
s

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [ ]:
a_dict = {'a':10, 'b':20, 'c':30}
d = {value:key for key, value in a_dict.items()}
d

{10: 'a', 20: 'b', 30: 'c'}

## 4.함수
- 특정 작업을 수행하는 명령문의 그룹
- 함수는 프로그램의 기능 단위로 모듈을 구성하는데 사용
- 프로그램이 점점 복잡해지고 커질 때, 함수를 사용하면 보다 체계적이고 관리도 편리함
- 코드의 반복을 피할 수 있고 코드의 재사용이 가능

함수의 기본 정의

        def 함수명(입력 매개변수):
           """doc string"""
           statement
           return 리턴값

함수의 구성요소
- 키워드 def는 함수의 시작을 표시
- 함수 명은 고유하게 식별 가능해야 하고, 식별자 작성 규칙을 따름
- 함수에 값을 전달하는 입력 매개변수(argument)는선택 사항임
- 함수 헤더의 끝은 콜론(:)으로 표시
- 선택적 문서 문자열(docstring)은 함수가 수행하는 작업을 설명함
- 함수 본문은 하나 이상의 파이썬 문(statement)으로 이루어지고, 문(statement)은 동일한 들여쓰기가 적용 되어야 함
- 함수에서 값을 반환하는 return문은 선택 사항

### 4-01 함수의 형태

In [ ]:
# 일반 형태 - 입력, 결과 모두 있는 형태
def func(a, b):
    return a+b
    
func(1,2)

In [ ]:
# 입력값 없는 형태
def func():
    print('hello')
    return 'Mission clear'

func()

hello

'Mission clear'

In [ ]:
# 결과값 없는 형태
def func(a, b):
    print(a + b)

func(1, 2)

3

In [ ]:
# 입력값, 결과값 모두 없는 형태
def func():
    print('hello')

func()

hello

### 4-02 함수의 동작 프로세스
- 함수의 정의
    - 함수를 정의하는 것이므로 test라는 함수를 메모리에 올리는 동작만 수행
    - 해당 코드를 실행하면 아무런 출력 값이 없음
    - 해당 코드를 실행함으로써 test라는 함수를 사용할 수 있게 됨
- 함수 호출(실행)
    - 해당 코드를 실행시켜 주면 test함수를 호출하여 함수 내부의 코드(print문)를 수행
    - test함수는 return이 존재하는 함수이므로 호출한 곳에 arg*10 값을 반환
    - 반환된 arg*10 값이 출력

In [ ]:
def test(arg):
    print(arg, ': 입력매개 변수입니다')
    return arg * 10

test(10)

10 : 입력매개 변수입니다

100

### 4-03 함수 호출,  return
- 함수 호출
    - 함수를 정의한 후에는 다른 함수, 프로그램 등에서 호출
    - 함수를 호출하기 위해서는 적절한 매개변수를사용하여 호출
- return 문
    - return 문은 함수를 종료하고 함수를 호출한 곳으로 돌아가는데 사용
    - 예 : return 표현식 목록
    - return 문은 평가되는 표현식이나값을 리턴
    - return 문에 표현식이 없거나 return문 자체가 없으면 함수는 None 객체를 리턴

In [ ]:
def func(x):
    return x

r = func(10)
print(r)

10

In [ ]:
def func(x):
    print(x)

r = func(10)
print(r)

10
None

### 4-04 argument의 종류
- 함수의 호출시 사용되는 argument    
    - positional argument : 위치에 따라 값이 전달되는 방식
    - keyword argument : = 를 사용하여 특정 parameter에 값을 제공함, 순서에 상관 없음
- 함수 정의시 사용되는 argument
    - default argument : 새로운 argument가 전달되지 않을 경우 사용되는 기본 값
- Python의 argument rule
     1. 함수 정의 시 : non-default argument가 앞, default argument가 뒤에 위치해야 한다.
     2. 함수 호출 시 : positional argument가 앞, keyword argument가 뒤에 위치해야 한다.

#### 4-04-01 위치 인수 (positional argument)
- argument 위치에 맞게 값이 전달되는 방식
- 가장 기본적인 argument 전달 방식

In [ ]:
def myAdd(num1, num2):
    return num1 + num2

r1 = myAdd(3,4)
r1

7

#### 4-04-02 기본 인수(default argument)
- 함수 정의 시 할당 연산자(=)를 사용하여 매개변수에 기본값을설정
- 함수 정의 시 기본값이 없는 매개변수는 기본값 매개변수 뒤에 있을 수 없음
- 함수 호출 시 기본 매개변수의 값을 전달하지
않아도 됨
- 값 전달 시 기본값을 덮어 씀

In [ ]:
def mysum(end, start=0):
    tot = 0
    for i in range(start, end+1):
        tot += i
    return tot

In [ ]:
mysum(10)

In [ ]:
mysum(10,5)

#### 4-04-03 키워드 인수(keyword argument)

In [ ]:
def printinfo(name, age):
    print('name :',name,', age :',age)

In [ ]:
printinfo(name='홍길동', age=33)

In [ ]:
printinfo(age=33, name='홍길동')

### 4-05 parameter의 종류
- positional or keyword parameter : 앞쪽에 * , 없고, 뒤쪽에 , / 없음
- positional only parameter : 뒤쪽에 , / 있음
- keyword only parameter : 앞쪽에 * , 있음
- var positional parameter : 이름 앞에 * (별이 한 개) 있음  
- var keyword parameter : 이름 앞에 ** (별이 두 개) 있음

In [ ]:
# positional or keyword parameter
def func1(a, b):
    return [a, b]

func1(1, 2)
func1(b=3, a=1)
func1(1, b=2)

In [ ]:
# positional only parameter
# colab 은 실행 안됨 (버전이 3.8이상이어야 동작함)
def func2(a, b, /):
    return [a, b]

func2(1, 2)

In [ ]:
# keyword only parameter
def func3(*, a, b):
    return [a, b]

func3(a=1, b=2)

#### 4-05-01 가변 위치 매개변수(var-positional parameter)

In [ ]:
# var-positional parameter
def add(*args):
    tot = 0
    for i in args:
        tot += i
    return tot

In [ ]:
add(1,2,3)

In [ ]:
add(1,2,3,4,5,6,7)

In [ ]:
v = [1,2,3]
add(*v)

#### 4-05-02 가변 키워드 매개변수(var-keyword parameter)

In [ ]:
# var-keyword parameter
def printinfo(**args):
    print(args)

In [ ]:
printinfo(a=1, b=2)

In [ ]:
dic = {'aa':3,'bb':4}
printinfo(**dic)

### 4-06 함수 연습문제

In [ ]:
# 알파벳 문자열을 인수로 넣으면 문자열을 모두 대문자로 바꾸는 함수를 구현하세요
def alpha(string):
    # code here

In [ ]:
alpha("ABCDE")

In [ ]:
# def calc_many(choice, *args) 함수에서 choice가 sum 이면 합을 구해서 리턴하고, 
# choice가 mul 이면 곱한 결과를 리턴하는 함수를 구현하세요.
def calc_many(choice, *args):
    #code here

In [ ]:
calc_many("sum", 1,2,3,4,5)

In [ ]:
calc_many("mul", 1,2,3,4,5)

### 4-07 함수 설명문

In [ ]:
def add(*args):
    """ 매개변수의 총합을 반환
    매개변수 :
        args : 숫자만 입력
    반환:
        매개변수의 총합
    """
    tot = 0
    for i in args:
        tot += i
    return tot

In [ ]:
print(add.__doc__)

### 4-08 lambda 함수식
- 이름 없이 정의된 함수
- 일반적인 함수는 def 키워드를 사용하여 정의, 익명함수는lambda 키워드를 사용하여 정의
        lambda arguments : expression
- 여러 개의 인자를 가질 수 있지만 표현식은 단 하나만 가짐
- 람다 함수는 일반적으로 filter(), map()과 같은 내장 함수와 함께 사용

In [ ]:
result = lambda x : x*2
result(5)

In [ ]:
a = ["USA", "Mexico", "Korea", "France"]
a.sort(key=lambda x : len(x)%2)
a

['Mexico', 'France', 'USA', 'Korea']

### 4-9 내장함수/외장함수

#### 4-09-01 내장함수-dir,id, len
- 내장 함수는 dir(__builtin__)를 통해 조회가 가능
- dir() : 객체가 가지고 있는 변수나 함수를 보여줌
- 예) dir(‘hello’)
- id(object) : 객체를 입력 받아 객체의 고유 주소 값을 리턴
- len(s) : 입력된 s의 길이를 리턴

In [ ]:
dir(10)

In [ ]:
id(10)

In [ ]:
len('Hello')

#### 4-09-02 내장함수-enumerate

In [ ]:
# enumerate(iterable, start=0) : 순서가 있는 자료형을 입력으로 받아 인덱스를 포함하는 enumerate 객체 리턴
a = ['one', 'two', 'three']
list(enumerate(a))

In [ ]:
# 리스트의 요소와 인덱스 끄집어내기
# enumerate 함수를 사용하지 않는 방법
a = ['one', 'two', 'three']
for index in range(len(a)):
    print(index)
    print(a[index])
    print('======')

In [ ]:
# enumerate 함수를 사용한 방법
a = ['one', 'two', 'three']
for index, el in enumerate(a):
    print(index)
    print(el)
    print('======')

In [ ]:
for x in enumerate('ABCDE', start=65):
  print(x)

#### 4-09-03 내장함수-zip

In [ ]:
# zip(*iterable) : 동일한 개수로 이루어진 자료형을 묶어 줌
a = ['one', 'two', 'three']
b = ['a', 'b', 'c']
list(zip(a, b))

[('one', 'a'), ('two', 'b'), ('three', 'c')]

In [ ]:
# 두 리스트의 요소 끄집어내기
# zip 함수 사용하지 않는 방법
for i in range(len(a)):
    print(a[i])
    print(b[i])
    print('======')

In [ ]:
# 두 리스트의 요소 끄집어내기
# zip 함수 사용한 방법
for el1, el2 in zip(a, b)):
    print(el1)
    print(el2)
    print('======')

#### 4-09-04 내장함수-map

In [ ]:
# map(func, *iterable) : 입력 받은 자료형의 각 요소가 함수 func에 의해 수행된 결과를 묶어서 반환
a = [1, 2, 3, 4]
new_a = list(map(lambda x : x**2, a))
new_a

In [ ]:
for x in map(int, ['1', '2', '3']):
  print(type(x), x)

#### 4-09-05 내장함수-filter

In [ ]:
# filter(func, iterable) : func 함수에서 True로 return한 값들만 묶어서 반환
a = list(range(1, 11))
new_a = list(filter(lambda x : x%2==0, a))
new_a

## 5.모듈

### 5-01 모듈 사용하기
- 재사용 하고자 하는 변수, 함수, 클래스를 파일에 저장하여 다른 Python 파일에서 호출하여 사용
- 파일명이 myModule.py이면 모듈명은 myModule 임
- 큰 프로그램을 작고 관리하기 쉬운 파일로 나눌 수 있으며, 코드 재사용성이 높아짐
- 자주 사용하는 함수를 정의하고, 이를 다른 파일에서 import 해서 사용
- 현재 Python 3.x 버전에서는 대략 200개가 넘는 모듈을 지원
   - 문자열(string), 날짜(date), 시간(time), 십진법(decimal), 랜덤(random)
   - 파일(file), os, sqlite3, sys, xml, email, http 등

- 모듈을 사용하는 이유
   - 코드의 재사용으로 인한 유지보수성을높임
   - 코드를 namespace로 구분하고 관리
   - 복잡하고 어려운 기능을 포함하는 프로그램을 쉽게 구현

In [ ]:
import math
print(math.pi)

In [ ]:
from math import pi
print(pi)

In [ ]:
# dir() 함수를 이용하여 모듈에 구조(함수, 변수) 확인 가능
import math
print(dir(math))

### 5-02 모듈 로딩하기
- numpy 라이브러리 import 예

In [ ]:
# numpy 라이브러리를 import, 이름을 numpy로 사용

print(numpy.nan)

In [ ]:
# numpy 라이브러리를 import, 이름을 np로 사용 (numpy라는 이름은 사용하지 않음)

print(np.nan)

In [ ]:
# numpy 라이브러리 내의 random 모듈만 import, 이름을 random으로 사용
# numpy에 포함된 다른 속성, 함수 사용 불가

print(random.randint(1, 10))

In [ ]:
# numpy 모듈내의 random 모듈만 import, 이름을 rd로 사용

print(rd.randint(1, 10))

In [ ]:
# numpy 라이브러리 내의 모든 이름을 import 
  
print(random.randint(1, 10), nan)

### 5-03 모듈의 경로
- 모듈의 경로
  - 환경변수에 저장되어 있는 디렉토리 검색
  - 경로 밖의 모듈은 import 불가
- 모듈 경로 탐색 순서
  - 프로그램이 실행된 디렉토리
  - PYTHONPATH 환경 변수에 등록된 위치
  - 표준 라이브러리 디렉토리

In [ ]:
import sys
sys.path

### 5-04 모듈 만들기

In [ ]:
%%writefile my_calc.py
myname = "홍길동"

def plus(a, b):
  return a + b

def minus(a, b):
  return a-b

print('name=', __name__)

Writing my_calc.py

In [ ]:
import my_calc

print(my_calc.plus(3,4))
print(my_calc.minus(3,4))
print(my_calc.myname)
print(my_calc.__name__)

### 5-05 패키지(package)
- 효율적 관리를 위해 같은 성격을 가진 파일을 모아 같은 디렉토리에 저장
- 프로그램이 더 많은 모듈을 가지면 유사한 모듈을 한 패키지에, 다른 모듈은 다른 패키지에 배치
- 디렉토리에 __init__.py라는 파일이 있으면 파이썬은 그 폴더를 패키지로 간주
- 점(.) 연산자를 사용하여 패키지에서 모듈 import 가능
- 예) import myPackage.Util

In [ ]:
%mkdir mypackage

In [ ]:
%%writefile mypackage/my_cal1.py
def plus(a, b):
  return 100 + a + b

In [ ]:
%%writefile mypackage/my_cal2.py
def minus(a, b):
  return 100-a-b

In [ ]:
# from 패키지명 import 모듈이름
from mypackage import my_cal1 
from mypackage import my_cal2
print(my_cal1.plus(1,2))
print(my_cal2.minus(1,2))

In [ ]:
# from 패키지명.모듈명  import 함수명
from mypackage.my_cal1 import plus 
from mypackage.my_cal2 import minus

print(plus(1, 2))
print(minus(1, 2))

### 5-06 특수변수들
- __name__ : 모듈명 출력
   - 직접 실행하면 __main__, 참조되면 해당 파일명
- __file__ : 모듈이 있는 절대 경로
   - 모듈이 있는 파일의 경로 정보 추출
- __doc__ : 모듈에 대한 설명
   - 모듈의 이용방법에 대한 설명을 얻을 때

In [ ]:
%%writefile my_calc.py
myname = "홍길동"

def plus(a, b):
  return a + b

def minus(a, b):
  return a-b

print('name=', __name__)

if __name__ == "__main__":
    print("3+4=" + str(plus(3, 4)))

Writing my_calc.py

In [ ]:
import my_calc
print(my_calc.__name__)

name= my_calc
my_calc