<a href="https://colab.research.google.com/github/ttaho/kb_it-s-your-life/blob/main/in_class/%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98_%EC%9E%85%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.출력연습
###1. % format, f=string
###str% (객체...) : 문자열을 생성하는 연산자
###str.format() : 문자열을 생성하는 매서드
###f-string: f 문자열의 종류

In [29]:

price = 1500
print(price)
print('사과가 %d원 입니다.'% (price))
print('사과가 {:,}원 입니다.'.format(price))
print(f'사과가 {price:,}원 입니다.')

1500
사과가 1500원 입니다.
사과가 1,500원 입니다.
사과가 1,500원 입니다.

In [16]:
# 3 * 4 = 12
A, B = 3, 4

print('%d * %d = %d' %(A, B, A*B))
print('{} * {} = {}' .format(A, B, A*B))
print(f'{A} * {B} = {A*B}')

3 * 4 = 12
3 * 4 = 12
3 * 4 = 12

In [22]:
price = 123.4567

print('사과가 %.2f 입니다.'% (price))
print('사과가 {:.2f} 입니다.'.format(price))
print(f'사과가 {price:.2f} 입니다.')
print('사과가 {} 입니다.'.format(price))
print(f'사과가 {price} 입니다.')

사과가 123.46 입니다.
사과가 123.46 입니다.
사과가 123.46 입니다.
사과가 123.4567 입니다.
사과가 123.4567 입니다.

In [28]:
#str.format 을 사용한 unpack
data = ['사과', 1000, '빨강']
data2={'name':'사과',
       'price':1000,
       'color':'빨강'}

print('{}가 1개 {}원 이며, 색은 {}입니다.'.format(data[0],data[1],data[2]))
print('{}가 1개 {}원 이며, 색은 {}입니다.'.format(*data))
print('{2}색 {0}가 1개 {1}원 입니다.'.format(*data))

print('{color}색 {name}가 1개 {price}원 입니다.'.format(**data2))

사과가 1개 1000원 이며, 색은 빨강입니다.
사과가 1개 1000원 이며, 색은 빨강입니다.
빨강색 사과가 1개 1000원 입니다.
빨강색 사과가 1개 1000원 입니다.

# 2. 입력연습

In [30]:
#한 개의 숫자 입력
num = int(input())
print(type(num), num)

123
<class 'int'> 123

In [ ]:
# 여러 개의 숫자 입력
# map(func, *literable)

In [31]:
nums=input()
nums

1 2 3 4 5

'1 2 3 4 5'

In [34]:
nums=input().split()  #whitespace을 기준으로 문자열을 쪼개 list를 생성
nums

1 2 3 4 5

['1', '2', '3', '4', '5']

In [36]:
date = input().split('-')
date

2022-08-02

['2022', '08', '02']

In [46]:
# 10:49:20
time = input().split(':')
display(time, ':'.join(time))

10:49:20

['10', '49', '20']

'10:49:20'

In [47]:
A='10:49:20'
H,M,S=A.split(':')
H,M,S

('10', '49', '20')

여러개 문자열을 숫자로 변경

In [50]:
#10:49:20
list(map(int, input().split(':')))

10:49:20

[10, 49, 20]

In [51]:
arr = list(map(int, input().split()))
arr

1 2 3 4 5

[1, 2, 3, 4, 5]

In [55]:
A=[int(x) for x in input().split()] #comprehension
A

1 2 3 4 5

[1, 2, 3, 4, 5]

In [53]:
A = input().split()
for x in A:
  display(int(x))

1 2 3 4

1

2

3

4

In [58]:
# N*N 형태의 데이터 입력
# 1 2 3
# 4 5 6
# 7 8 9
N = 3
A=[[int(x) for x in input().split()] for _ in range(N)] #comprehension
A

1 2 3
4 5 6
7 8 9

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [60]:
# N*N 형태의 데이터 입력
# 1 2 3
# 4 5 6
# 7 8 9
N=4
A=[list(map(int, input().split())) for _ in range(N)]
A

1 2 3 4
5 6 7 8
9 10 11 1 2
13 14 15 16

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 1, 2], [13, 14, 15, 16]]

In [41]:
import string
#dir(string)
display(string.whitespace)
print(string.whitespace)

' \t\n\r\x0b\x0c'

In [43]:
A = '       1 \t\n2\r3          4\n\n\n\n5         '
A.split()

['1', '2', '3', '4', '5']